.tts_icon{
    width: 24px;
    height: 24px;
    
    background-size: 100% auto;
}

.tts_icon_30{
    width: 30px;
    height: 30px;
    
    background-size: 100% auto;
}

.tts_icon_agents-media{
    background-image: url(https://favicon.yandex.net/favicon/agents.media?stub=1&size=32);
}
.tts_icon_astrapress{
    background-image: url(https://thetruestory.news/_next/image?url=%2Fsource-icons%2Fround%2Ft.me__astrapress_ru_ru.jpg&w=32&q=75);
}
.tts_icon_bbc-ru{
    background-image: url(https://favicon.yandex.net/favicon/bbc.com?stub=1&size=32);
}
.tts_icon_belru{
    background-image: url(https://favicon.yandex.net/favicon/bel.ru?stub=1&size=32);
}
.tts_icon_currenttime{
    background-image: url(https://favicon.yandex.net/favicon/currenttime.tv?stub=1&size=32);
}
.tts_icon_delaru{
    background-image: url(https://favicon.yandex.net/favicon/dela.ru?stub=1&size=32);
}
.tts_icon_doxa{
    background-image: url(https://favicon.yandex.net/favicon/doxa.team?stub=1&size=32);
}
.tts_icon_dw-ru{
    background-image: url(https://favicon.yandex.net/favicon/dw.com?stub=1&size=32);
}
.tts_icon_echofm{
    background-image: url(https://favicon.yandex.net/favicon/echofm.online?stub=1&size=32);
}
.tts_icon_fontanka{
    background-image: url(https://favicon.yandex.net/favicon/fontanka.ru?stub=1&size=32);
}
.tts_icon_freenews-volga{
    background-image: url(https://favicon.yandex.net/favicon/fn-volga.ru?stub=1&size=32);
}
.tts_icon_golosameriki{
    background-image: url(https://favicon.yandex.net/favicon/golosameriki.com?stub=1&size=32);
}
.tts_icon_holod-media{
    background-image: url(https://favicon.yandex.net/favicon/holod.media?stub=1&size=32);
}
.tts_icon_ovd-info{
    background-image: url(https://favicon.yandex.net/favicon/ovd.news?stub=1&size=32);
}
.tts_icon_i38teleinform{
    background-image: url(https://favicon.yandex.net/favicon/i38.ru?stub=1&size=32);
}
.tts_icon_interfax{
    background-image: url(https://favicon.yandex.net/favicon/interfax.ru?stub=1&size=32);
}
.tts_icon_itsmycity{
    background-image: url(https://favicon.yandex.net/favicon/itsmycity.ru?stub=1&size=32)
}
.tts_icon_it-world{
    background-image: url(https://favicon.yandex.net/favicon/it-world.ru?stub=1&size=32);
}
.tts_icon_kommersant{
    background-image: url(https://favicon.yandex.net/favicon/kommersant.ru?stub=1&size=32);
}
.tts_icon_koru{
    background-image: url(https://favicon.yandex.net/favicon/ko.ru?stub=1&size=32);
}
.tts_icon_krymr{
    background-image: url(https://favicon.yandex.net/favicon/krymr.com?stub=1&size=32);
}
.tts_icon_mediazona{
    background-image: url(https://favicon.yandex.net/favicon/zona.media?stub=1&size=32);
}
.tts_icon_meduza{
    background-image: url(https://favicon.yandex.net/favicon/meduza.io?stub=1&size=32);
}
.tts_icon_melfm{
    background-image: url(https://favicon.yandex.net/favicon/mel.fm?stub=1&size=32);
}
.tts_icon_moscowtimes{
    background-image: url(https://favicon.yandex.net/favicon/themoscowtimes.com?stub=1&size=32);
}
.tts_icon_newtimes-ru{
    background-image: url(https://favicon.yandex.net/favicon/newtimes.ru?stub=1&size=32);
}
.tts_icon_novayagazeta{
    background-image: url(https://favicon.yandex.net/favicon/novayagazeta.ru?stub=1&size=32);
}
.tts_icon_ostorozhno_novosti{
    background-image: url(https://thetruestory.news/_next/image?url=%2Fsource-icons%2Fround%2Ft.me__ostorozhno_novosti_ru_ru.jpg&w=32&q=75);
}
.tts_icon_paperpaper{
    background-image: url(https://favicon.yandex.net/favicon/paperpaper.ru?stub=1&size=32);
}
.tts_icon_rbc{
    background-image: url(https://favicon.yandex.net/favicon/rbc.ru?stub=1&size=32);
}
.tts_icon_redakciya_channel{
    background-image: url(https://avatars.dzeninfra.ru/get-zen-logos/1597769/pub_5cbd7c459f4d1600b458e217_5cbdffb733a36800b48af8ec/xxh);
}
.tts_icon_rosbalt{
    background-image: url(https://favicon.yandex.net/favicon/rosbalt.ru?stub=1&size=32);
}
.tts_icon_roskomsvoboda{
    background-image: url(https://favicon.yandex.net/favicon/roskomsvoboda.org?stub=1&size=32);
}
.tts_icon_rtvi{
    background-image: url(https://favicon.yandex.net/favicon/rtvi.com?stub=1&size=32);
}
.tts_icon_sibreal{
    background-image: url(https://favicon.yandex.net/favicon/sibreal.org?stub=1&size=32);
}
.tts_icon_svoboda{
    background-image: url(https://favicon.yandex.net/favicon/svoboda.org?stub=1&size=32);
}
.tts_icon_theins{
    background-image: url(https://favicon.yandex.net/favicon/theins.info?stub=1&size=32);
}
.tts_icon_tvrain{
    background-image: url(https://favicon.yandex.net/favicon/tvrain.ru?stub=1&size=32);
}
.tts_icon_uralmeridianru{
    background-image: url(https://favicon.yandex.net/favicon/ural-meridian.ru?stub=1&size=32);
}
.tts_icon_vedomosti{
    background-image: url(https://favicon.yandex.net/favicon/vedomosti.ru?stub=1&size=32);
}
.tts_icon_thevillage{
    background-image: url(https://favicon.yandex.net/favicon/the-village.ru?stub=1&size=32);
}